/*
******General******
*/


@import
url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
  font-family: 'Bebas Neue', cursive;
}

:root{
--fondo: #ffffffff;
  --color-contenedor:#d2202f;
  --color-menu:#d2202f;
  --color-hover:#e6003d;
}

*{
box-sizing:border-box;
  
}

body{
   
 
 text-align:center;
 background-color: #ffffff;
height: 1100px;
  background-image: url("https://img.freepik.com/vector-gratis/concepto-medico-hexagonal-limpio-blanco_1017-29801.jpg");
  
  background-size: 1800px;
 background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:center;
    background-attachment: fixed, scroll;

  
}
.fila::after{
  content: " ";
  clear: both;
  display: block;
  
  
}
[class*="col-"]{
  float: center;
  padding:10px;
}
.textprincipal{
 float: center;
  padding:10px;
  
}
h1{
text-align:center;
  color:#d2202f;
  border-bottom:solid 2px #d2202f
  
}
p{
text-align:center;
font-size: x-large;
  
}
/*
***************logo**********************************
*/
.div_logo{
background: var(--color-contenedor);
 -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
  margin-bottom:5px;
}
.logo_cbtis{
width:10%;
  height:10%;
  display:block;
  margin:auto;
}

/**********************menu****************************/
  

    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-menu);
}

li {
  float: left;
}

li a {
  font-size: x-large;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--color-hover);
}

/****************encabezado*******************************************/
   .logo_encabezado{
     width:75%;
     height:auto;
     margin-top: 5px;
     margin-bottom:5px;
     box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
   }

/*
*******************cuerpo********************
*/
.div_cuerpo{
padding: 25px;
text-align:justify;

}


/* 
***************Responsivo PC*******************
*/
@media only screen and (min-width:
 768px){
.col-1{width:25%;}
.col-2{width:50%;}
.col-3{width:75%;}
.col-4{width:100%}
}

/*
********************responsivo TABLET***************************
*/
@media only screen and (max-width:
 769px){
.col-t-1{width:25%;}
.col-t-2{width:50%;}
.col-t-3{width:75%;}
.col-t-4{width:100%}
}
/*
***MOVIL: ;*******RESPONSIVO MOVIL******************
*/
@media only screen and (max-width:
 480px){
[class*="col-"]{
  width:100%
}
  li{
    float:none;
  }
}

/*******************Imagenes del menu*********************/


/*
**********************PIE******************
*/
.div_pie{
background: var(--color-contenedor);
 -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
  margin-bottom:5px;
}
.logo_pie{
width:15%;
  height:10%;
  display:block;
  margin:auto;
}
/*
************imagenbur*************
*/
.imagenbur{
  
 text-align:center;
width:20%;
  height:20%;
  display:block;
  margin:auto;
   border-radius:150px;
       box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
}
